<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feicuiedu.newsclient">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.feicuiedu.newsclient" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>
